# Node / Environment
node_modules/
.env
.env.local
.env.*
*.log

# Build outputs
.next/
out/
dist/
build/
.cache/

# Firebase local files
firebase-debug.log
firebase.json
.firebaserc

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Emulators / vault
.vault/
