# Environment files
.env
.env.*
.env.local
.env.production
.env.vault

# Node
node_modules/
# Build
.next/
out/
dist/
build/
# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
# OS/IDE
.DS_Store
.vscode/
.idea/
